Source: uoproxy
Section: games
Priority: extra
Maintainer: Max Kellermann <max@duempel.org>
Build-Depends: debhelper (>= 5), libevent-dev (>= 1.1), xmlto
Standards-Version: 3.8.4

Package: uoproxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6)
Description: proxy server for Ultima Online
 uoproxy is a proxy server designed for Ultima Online.  It acts as an
 Ultima Online server, and forwards the connection to a 'real' server.
 .
 Home page: http://max.kellermann.name/projects/uoproxy/
